# MS SQL Server 数据仓库连接
MSSQL_SERVER=SUZVPRINT01\\CUSTOMSSYS
MSSQL_DATABASE=csi_datawarehouse
MSSQL_USER=naipowerbiuser
MSSQL_PASSWORD=LT8QGjMn8XwAjp
MSSQL_PORT=1433

# 应用配置
PORT=3000
SQLITE_PATH=./data/shipping.db
